.emailContent {
  flex: 1;
  background-color: #f6f6f7;
  padding: 18px;
  overflow: scroll;
  height: calc(100vh - 36px);
  min-width: 500px;

  &-subject {
    font-weight: bold;
  }

  &-closeBtn {
    cursor: pointer;
    color: #707989;
    display: inline-block;
  }

  .roundBtn {
    width: 34px;
    height: 34px;
    background-color: #ffffff;
    outline: none;
    border-radius: 50%;
    border: none;
    margin-left: 15px;
    &:active {
      opacity: 0.7;
    }

    &.openBtn {
      width: initial;
      border-radius: 10px;
    }
  }

  &-container {
    padding: 30px;

    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 4px 4px 0 #eee;

    &-content {
      white-space: pre-line;
    }

    .firstLine {
      display: flex;
    }
    &-from {
      flex: 1;
      font-weight: bold;
    }
    &-date {
      flex: 1;
      text-align: right;
      font-weight: bold;
      color: #707989;
      font-size: 13px;
    }
  }
}

.noMail {
  flex: 1;
  background-color: #f6f6f7;
  font-size: 200px;
  text-align: center;
  line-height: 100vh;
}
